<footer>

  <div class='center-align footer-social'>
    <a href="https://facebook.com/"
     title="facebook"
     target="_blank">
    {{fa-icon "facebook-official" size=3}}
    </a>

    <a href="https://www.instagram.com/"
     title="instagram"
     target="_blank">
    {{fa-icon "instagram" size=3}}
    </a>

    <a href="https://twitter.com/"
     title="twitter"
     target="_blank">
    {{fa-icon "twitter" size=3}}
    </a>
  </div>

<p>This site developed by AlienCyborg,LLC</p>
</footer>
