<header>
  <div class="row">
    <div class="col m8">
      <div class="col s12">
        <h1 class="square-border background-white text-purple center-align">
          {{link-to "Midwest Moving" "index" class="text-purple"}}
        </h1>
      </div>

      <div class="col s8 m12">
        <div class="background-purple round-border">
          <h4 class="center-align flow-text">
            Servicing the Twin Cities and Surrounding Area
          </h4>
        </div>
      </div>

      <div class="col s4 logo-frame hide-on-med-and-up">
        <img
           class="responsive-img mw-box thick-square-border"
           src="assets/images/logowhite.jpg">
      </div>

    </div>

    <div class="col m3 offset-m1 logo-frame hide-on-small-only">
      <img
         class="responsive-img mw-box thick-square-border"
         src="assets/images/logowhite.jpg">
    </div>
  </div>
</header>
