<header>
  <div class="row">
    <div class="col s12 m8">
      <h1 class="square-border background-white text-purple center-align">
        {{link-to "Midwest Moving" "index" class="text-purple"}}
      </h1>

      <div class="background-purple round-border">
        <h4 class="center-align">Servicing the Twin Cities</h4>
        <h4 class="center-align">and Surrounding Area</h4>
      </div>
    </div>

    <div class="col s12 m3 offset-m1 logo-frame">
      <img
         class="responsive-img mw-box thick-square-border"
         src="assets/images/logopurple.jpg">
    </div>
  </div>
</header>
