@import 'components/color';

/*  Colors */

// $primary-color: color("materialize-red", "lighten-2") !default;
$primary-color: color("teal", "darken-1") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

// $secondary-color: color("teal", "lighten-1") !default;
$secondary-color: color("purple", "darken-4") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

/* Collections */

$collection-border-color: #e0e0e0 !default;
$collection-bg-color: #fff !default;
$collection-active-bg-color: $secondary-color !default;
$collection-active-color: lighten($secondary-color, 55%) !default;
$collection-hover-bg-color: #ddd !default;
$collection-link-color: $secondary-color !default;

