// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

header {
  .mw-box {
    max-height: 217px;
  }
}

body {
  background-image: url("images/truckmoving.jpg");
  background-repeat: no-repeat;
  background-attachment: contain;
  background-position: center;
  padding: 20px;
}

.background-white {
  @extend .white;
}

.background-purple {
  @extend .purple, .darken-4, .white-text;
}

.logo-frame {
  margin-top: 1rem;
}

.round-border {
  border-radius: 15px;
}

.square-border {
  border: 5px solid;
  @extend .purple-text, .text-darken-4;
}

.thick-square-border {
  border: 10px solid;
  @extend .purple-text, .text-darken-4;
}

.text-purple {
  @extend .purple-text, .text-darken-4;
}

/*** COMPONENTS ***/

.mw-header {
  h1 {
    margin-top: 1rem;
    padding: 5px 0;
  }
  h4 {
    padding: 5px;
  }
}
