<header>
  <a href="/"><h1>Midwest Moving</h1></a>
</header>
<!--navbar-->
<nav> 
  <ul>
     <a href="/">Home</a>  
      <a href="/us">Who we are</a>
      <a href="/contact">Contact Us</a>
  </ul>
</nav>

<div>
{{outlet}}
</div>

<!--footer text-->
<footer> <h4> Copyright AlienCyborg 2016 &copy; </h4> </footer>