<header>
  <a href="/"><h1>Midwest Moving</h1></a>
  <img src="assets/images/logowhite.jpg" height="300" width="300" align="right"/>
</header>
<!--navbar-->
<nav>
  <ul>
    {{link-to 'Home' 'index'}}
    {{link-to 'Who we are' 'about'}}
    {{link-to 'Contact Us' 'contact'}}
  </ul>
</nav>

<div>
  {{outlet}}
</div>

<!--footer text-->
<footer> <h4> Copyright AlienCyborg 2016 &copy; </h4> </footer>
