<div class="row">
  <div class="col s6 offset-s3">
    <div class="round-border background-white">
      <h4 class="text-purple center-align flow-text">
        {{link-to 'GET A FREE QUOTE!' 'quote'}}
      </h4>
    </div>
  </div>
</div>
