<header>
  <h1>Midwest Moving</h1>
</header>
<!--navbar-->
<div>       </div>

<!--Get quote form-->
<form> <button>Hello</button>      </form>

<!--Contact us form-->
<form>      </form>

<!--footer text-->
<footer> <h4> Copyright AlienCyborg 2016 &copy; </h4> </footer>