<div class="background-purple square-border">
  <div class="row">
    <div class="col s12 m4">
      <img src='assets/images/resmove.jpg' >
        <p>
          <b>Residential Moves</b>
          <li>Apartments</li>
          <li>Houses</li>
          <li>Short-term</li>
          <li>City or Suburb</li>
        </p>
    </div>

    <div class="col s12 m4">
      <img src='assets/images/deliveries.jpg'
             alt="Deliveries">
             <p>
               <b>Deliveries</b>
               <li>Furniture Delivery</li>
               <li>House Arranging</li>
               <li>Storage Available</li>
             </p>
    </div>
    <div class="col s12 m4">
      <img src='assets/images/staging.jpg'
            alt="Two people carrying a large box">
            <p>
              <b>Staging</b>
              <li>Furniture Delivery</li>
              <li>House Arranging</li>
              <li>Storage Available</li>
            </p>
    </div>
  </div>
</div>
