<div class="background-purple square-border" style="padding: 10px">
    <div class="row">
    <div class="col s12 m4">
      <img src='assets/images/resmove.jpg' alt="Residential moves" title="We'll move your home" >
        <p>
          <b>Residential Moves</b>
          <li>Apartments</li>
          <li>Houses</li>
          <li>Short-term</li>
          <li>City or Suburb</li>
        </p>
    </div>

    <div class="col s12 m4">
      <img src='assets/images/deliveries.jpg'
             alt="Deliveries" title="We can travel across the country">
             <p>
               <b>Deliveries</b>
               <li>Furniture and Appliance (Removal with fee)</li>
               <li>Business to Business</li>
               <li>Large Home Purchases</li>
             </p>
    </div>
    <div class="col s12 m4">
      <img src='assets/images/staging.jpg'
            alt="Two people carrying a large box"
            title="We can stage your property">
            <p>
              <b>Staging</b>
              <li>Furniture Delivery</li>
              <li>House Arranging</li>
              <li>Storage Available</li>
            </p>
    </div>
  </div>
</div>
