<div class="background-purple round-border">
  <table style="width 90%">
  <span class="teal-text">
  <h2>See what our clients say!</h2>
    <p>It was a tough job no doubt, however Midwest Moving took great care and went to great lengths to get the job done right. I am pleased with the high quality work the movers did. I would be happy to recommend them to others.
    <br>
    -Liz N
    <br>
    </p>
    <br>
    <p>It was a pleasure to have Midwest Moving work with us. The movers made my mothers in laws move smooth and effortless. Thank you for your assistance with helping to distress the situation. It was very much appreciated. I would be happy to recommend Midwest Moving.
    <br>
    -Bob and Linda
    <br>
    </p>
  </span>
  </table>
</div>
